.fonts-widget-button {
  -moz-border-radius: 2px 2px 2px 2px;
  border: 1px solid #BBBBBB;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 0 5px;
  width: 32px;
}
.fonts-widget-button.active {
  border: 2px solid #BBBBBB;
}

.fonts-widget-button .widget-item {
  background: url("images/buttons.png") no-repeat top left;
  height: 32px;
  width: 32px;
}

.fonts-widget-button #uthmani {
  background-position: -238px 0;
}
.fonts-widget-button #arabic {
  background-position: -204px 0;
}

.fonts-widget-button #size-1 {
  background-position: -102px 0;
}
.fonts-widget-button #size-2 {
  background-position: -136px 0;
}
.fonts-widget-button #size-3 {
  background-position: -170px 0;
}

.fonts-widget-button #height-1 {
  background-position: 0 0;
}
.fonts-widget-button #height-2 {
  background-position: -34px 0;
}
.fonts-widget-button #height-3 {
  background-position: -68px 0;
}

.fonts-widget-button #white {
  background-color: #fff;
  background-image: none;
}
.fonts-widget-button #old {
  background-color: #fff9d4;
  background-image: none;
}
.fonts-widget-button #black {
  background-color: #000;
  background-image: none;
}


.uthmani {
  font-family: "UthmanTN1";
}
.arabic {
  font-family: "Traditional Arabic";
}

.size-1 {
  font-size: 20px;
}
.size-2 {
  font-size: 24px;
}
.size-3 {
  font-size: 28px;
}

.height-1 {
  line-height: 2em;
}
.height-2 {
  line-height: 1.5em;
}
.height-3 {
  line-height: 1em;
}

.white {
  background-color: #fff;
  color: #000;
}
.old {
  background-image: url("images/Paper11.jpg");
  color: #000;
}
.black {
  background-color: #000;
  color: #fff;
}