.fonts-widget-button {
  -moz-border-radius: 2px 2px 2px 2px;
  border: 1px solid #BBBBBB;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 0 5px;
  width: 32px;
}
.fonts-widget-button div {
  height: 32px;
  width: 32px;
}

.fonts-widget-button.active {
  border: 2px solid #BBBBBB;
}

.fonts-widget-button #uthmani {
  background-image: url("images/uthmani.png");
}
.fonts-widget-button #arabic {
  background-image: url("images/traditional-arabic.png");
}

.fonts-widget-button #size-1 {
  background-image: url("images/size-1.png");
}
.fonts-widget-button #size-2 {
  background-image: url("images/size-2.png");
}
.fonts-widget-button #size-3 {
  background-image: url("images/size-3.png");
}

.fonts-widget-button #height-1 {
  background-image: url("images/height-1.png");
}
.fonts-widget-button #height-2 {
  background-image: url("images/height-2.png");
}
.fonts-widget-button #height-3 {
  background-image: url("images/height-3.png");
}

.fonts-widget-button #white {
  background-color: #fff;
}
.fonts-widget-button #old {
  background-color: #fff9d4;
}
.fonts-widget-button #black {
  background-color: #000;
}


.uthmani {
  font-family: "UthmanTN1";
}
.arabic {
  font-family: "Traditional Arabic";
}

.size-1 {
  font-size: 18px;
}
.size-2 {
  font-size: 22px;
}
.size-3 {
  font-size: 26px;
}

.height-1 {
  line-height: 2em;
}
.height-2 {
  line-height: 1.5em;
}
.height-3 {
  line-height: 1em;
}

.white {
  background-color: #fff;
  color: #000;
}
.old {
  background-image: url("images/Paper11.jpg");
  color: #000;
}
.black {
  background-color: #000;
  color: #fff;
}